@import '../../generics.scss';

.header{
    width: 100%;
    height: 50px;
    padding: 5px 20px;

    @include flex-row-center;
    justify-content: space-between;

    background:#16213eb0;

    &_logo{
        height: 50px;   
    }

    &_nav{
        &--ul{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        &--item{
            
            list-style-type: none;
            text-decoration: none;
            color: white;
            font-weight: 200;
        }
    }
}