$primary-color: #1A1A2E;
$secundary-color:#16213E;
$tertiary-color: #0F3460;
$quaternary-color: #E94560;
$font-family: 'Roboto', sans-serif;


@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-column-start {
    display: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// @mixin input {
//     width: 80%;
//     max-width: 320px;
//     padding: 15px 10px;
//     text-align: start;
// }

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin center-perfect {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin  btns-abort-delet {
//     width: 130px;
//     height: 36px;
//     border-radius: 5px;
//     border: none;
//     display: flex;
//     position: absolute;
//     font-size: 14px;
//     color: white;
//     justify-content: center;
//     font-weight: bold;
//     align-items: center;
// }
